.vs/Sns/v14/.suo
packages/Ninject.4.0.0-beta-0134/lib/net45/Ninject.dll
packages/Ninject.4.0.0-beta-0134/lib/net45/Ninject.xml
packages/Ninject.4.0.0-beta-0134/lib/netstandard1.3/Ninject.dll
packages/Ninject.4.0.0-beta-0134/lib/netstandard1.3/Ninject.xml
packages/Ninject.4.0.0-beta-0134/lib/netstandard1.5/Ninject.dll
packages/Ninject.4.0.0-beta-0134/lib/netstandard1.5/Ninject.xml
packages/Ninject.4.0.0-beta-0134/Ninject.4.0.0-beta-0134.nupkg
Server/bin/Debug/Ninject.dll
Server/bin/Debug/Ninject.xml
Server/bin/Debug/TestServer.exe
Server/bin/Debug/TestServer.exe.config
Server/bin/Debug/TestServer.pdb
Server/bin/Debug/TestServer.vshost.exe
Server/bin/Debug/TestServer.vshost.exe.config
Server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Server/obj/Debug/Server.csproj.FileListAbsolute.txt
Server/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Server/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Server/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Server/obj/Debug/TestServer.csproj.FileListAbsolute.txt
Server/obj/Debug/TestServer.exe
